.post-img{
    height: 404px;
    overflow: hidden;
}
.post-img img{
    width: 100%;

}
.blog-post-content h1{
    text-align: center;
}
.blog-post-content p{
    font-size: 18px;
}
.row{
    display: flex;
    
}
.more-post{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blogspot-meta{
    display: flex;
    justify-content: space-between;
}
.author-info{
    margin: 12px 0;
}
.author-info div{
    padding: 4px 0px;
    font-family: var(--font2);
}
.social{
    display: flex;
    align-items: center;
}
.social div img{
    width: 50px;
    padding: 0px 10px;
    cursor: pointer;
}
.linked-in img{
    height: 40px;
}
.insta img{
    height: 40px;

}